@page "/"
<PageTitle>Servier ECR</PageTitle>

<div class="main-content">
    <div class="container-welcome">
        <div class="welcome-text-container">
            <div class="welcome-text" style="padding-left:100px;padding-right:100px;text-align:justify;">
                <p style="font-size: 20px;"><strong>Trojmesačná, observačná, epidemiologická štúdia hodnotiaca kontrolu krvného tlaku u pacientov s potvrdenou a liečenou artériovou hypertenziou</strong><br /><br /><br /></p>
                <p>Milé kolegyne, milí kolegovia,</p>

                <p>Dovoľte mi poďakovať za Vašu ochotu zúčastniť sa biomedicínskeho výskumu, <strong>DMTK</strong>, zameraného na <strong>hodnotenie kontroly krvného tlaku u pacientov s potvrdenou 
                    a liečenou artériovou hypertenziou</strong>.</p>

                <p>Hypertenzia je celosvetovým zdravotným problémom kvôli svojej vysokej prevalencii a progresívnemu vývoju závažných kardiovaskulárnych a renálnych komplikácií. Predstavuje 
                    najčastejšie sa vyskytujúce kardiovaskulárne ochorenie a významný rizikový faktor predčasnej smrti a invalidity. Podľa štatistík WHO z roku 2019 malo hypertenziu 
                    1,28 miliardy dospelých vo veku 30 – 79 rokov, pričom prevalencia bola 34 % u mužov a 32 % u žien. Hypertenzia ročne spôsobuje 8,5 milióna úmrtí na cievnu mozgovú príhodu, 
                    koronárnu artériovú chorobu, iné vaskulárne ochorenia a renálne ochorenia. <sup>1,2,3</sup>
                </p>

                <p>Cieľom našej iniciatívy je prostredníctvom merania tlaku krvi (TK) v ambulancii a tiež prostredníctvom domáceho monitorovania tlaku krvi (DMTK) zistiť, či pacienti dosahujú 
                    cieľové hodnoty TK, ktoré sú <strong>v súlade s najnovšími odporúčaniami</strong>.
                </p>

                <p>Zbierame základné údaje o hodnotách TK, srdcovej frekvencie a ďalších rizikových faktoroch, zodpovedných za rozvoj srdcovo-cievnych ochorení u pacientov s diagnostikovanou 
                    a liečenou artériovou hypertenziou (AH). Radi by sme vyhodnotili aktuálnu mieru kontroly TK (&lt;140 /90 mmHg) na Slovensku a podiel pacientov s cieľovými hodnotami TK 
                    prispôsobenými veku a komorbiditám pacientov (u pacientov pod 65 rokov &lt; 130/80 mmHg a nad 65 rokov &lt; 140/80 mmHg). </p>

                <p>Zozbierané údaje plánujeme porovnať s dostupnými údajmi z roku 2023, kedy miera kontroly TK bola 74% a cieľové hodnoty TK prispôsobené veku a komorbiditám pacienta dosahovalo 
                    38% pacientov. <sup>4</sup>
                </p>

                <p>Účasť Vás a Vašich pacientov v projekte je dobrovoľná a anonymná. Získané údaje nám pomôžu zmapovať situáciu u pacientov s vysokým krvným tlakom na Slovensku a vyhodnotiť 
                    pokrok v rámci napĺňania vízie iniciatívy <strong>Charta 70/2028</strong>.<sup>5</sup> Zároveň budeme môcť lepšie zhodnotiť potreby pacientov a zvýšiť šancu na efektívnu liečbu.
                </p>

                <p>
                    Účasť na projekte je veľmi jednoduchá a nevyžaduje si od Vás nič navyše oproti štandardnej kontrole pacienta s AH. <strong>Kľúčové je zapojenie pacientov</strong> (30 po sebe idúcich
                    pacientov s diagnostikovanou a liečenou AH), <strong>prostredníctvom záznamníka pre domáce monitorovanie TK</strong> s inštrukciou od Vás, čo majú urobiť a prečo je to dôležité. Pacienti 
                    vyplnia papierový záznamník TK a prinesú na najbližšiu kontrolu. </p>

                <p>Veríme, že vďaka Vám a projektu DMTK sa podarí prispieť k naplneniu vízie Charta 70/2028, <strong>zlepšiť manažment pacientov s artériovou hypertenziou a kontrolu krvného tlaku na Slovensku</strong>. </p>
 
                <p>
                    <br /><br /><br />
                    <strong>MUDr. Anna Vachulová, PhD.</strong><br />
                    Viceprezidentka Slovenskej hypertenziologickej spoločnosti SLS
                </p>


                <p style="font-size: 12px;color:dimgray">
                    1. Mancia G, Kreutz R et al. J Hypertens. 2023;41(12):1874-2071; 2. Mills KT et al. (2016). Circulation. 2016 Aug 9;134(6):441-50; 3. NCD Risk Factor Collaboration (NCD-RisC).
                    (2021). Lancet 2021; 398:957–980; 4. Šimková A.: Meranie a hodnoty TK. Vyčerpali sme všetky možnosti? Prezentované počas 44. výročnej konferencie SSVPL 12.10.2023; 5. 
                    <a href="https://www.sks.sk/form/charta-702028">https://www.sks.sk/form/charta-702028</a>"
                </p>

            </div>
        </div>
    </div>
</div>

@code {
    [SupplyParameterFromQuery(Name = UrlGenerator.ToggleSidebarName)]
    public bool ToggledSidebar { get; set; }
}