@page "/"
<PageTitle>Servier ECR</PageTitle>

<div class="main-content">
    <div class="container-welcome">
        <div class="welcome-text-container">
            <div class="welcome-text">
                <p>Trojmesačná, observačná, epidemiologická štúdia hodnotiaca kontrolu krvného tlaku u pacientov s potvrdenou a liečenou artériovou hypertenziou</p>
            </div>
        </div>
    </div>
</div>

@code {
    [SupplyParameterFromQuery(Name = UrlGenerator.ToggleSidebarName)]
    public bool ToggledSidebar { get; set; }
}