@media (max-width: 1366px) {
    .flex-container {
        flex-direction: column;
        align-items: flex-start;
    }

        .flex-container > div {
            width: 100%;
        }

        .flex-container > .accestable {
            margin-top: 2vh;
        }
}

@media (max-width: 1366px) {
    .first-div {
        width: 100% !important;
    }
}
