@page "/patients"

@using Microsoft.AspNetCore.Authorization
@using Servier.Pressure.Components.Pages.Components
@using Servier.Pressure.Data.Models
@using Servier.Pressure.Services.Pages

@attribute [Authorize]
@rendermode InteractiveServer

@inject PatientService PatientService
@inject IToastNotificationService ToastService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager Navigation
@implements IDisposable

<div class="d-flex align-items-center custom-toast-background">
    <DxToastProvider Name="Overview"
                     MaxToastCount="3"
                     AnimationType="ToastAnimationType.Slide"
                     HorizontalAlignment="HorizontalAlignment.Right"
                     VerticalAlignment="VerticalEdge.Top"
                     Width="320px" />
</div>

<PageTitle>Pacienti</PageTitle>

<div class="flex-container" style="display: flex; justify-content: space-between; width: 100%;">
    <div class="first-div" style="width: 52%;">
        @if (Patients == null)
        {
            <p><em>Načítavanie...</em></p>
        }
        else
        {
            <DxFormLayout CssClass="w-100">
                <DxFormLayoutItem Caption="Umiestnenie kódu v záznamníku domáceho monitorovania tlaku" ColSpanMd="12" CaptionCssClass="caption-styleH0" CaptionPosition="CaptionPosition.Vertical">
                    <Template>
                        <img src="images/patient_code.png" alt="lokalizácia kódu pacienta" />
                    </Template>
                </DxFormLayoutItem>
                <DxFormLayoutItem ColSpanMd="12" CaptionCssClass="caption-styleH0">
                    <span>Kód pacienta nájdete v hlavičke Záznamníka domáceho monitorovania tlaku krvi a srdcovej frekvencie ako je znázronené na obrázku.</span>
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Zoznam pacientov" ColSpanMd="12" CaptionCssClass="caption-styleH0" CaptionPosition="CaptionPosition.Vertical">
                    <Template>
                        <DxGrid @ref="patientsGrid"
                                Data="Patients"
                                PageSize="20"
                                PagerPosition="GridPagerPosition.Bottom"
                                PageSizeSelectorVisible="true"
                                PageSizeSelectorItems="@(new int[] { 10, 20, 100 })"
                                PageSizeSelectorAllRowsItemVisible="true"
                                PagerSwitchToInputBoxButtonCount="10"
                                PagerVisibleNumericButtonCount="10"
                                KeyFieldName="Id"
                                ValidationEnabled="true"
                                EditMode="GridEditMode.EditCell"
                                FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                                ColumnResizeMode="GridColumnResizeMode.NextColumn"
                                PopupEditFormHeaderText="Pridať pacienta"
                                TextWrapEnabled="false"
                                HighlightRowOnHover="true"
                                EditModelSaving="Grid_EditModelSaving"
                                DataItemDeleting="Grid_DataItemDeleting"
                                CustomizeElement="Grid_CustomizeElement"
                                SelectionMode="GridSelectionMode.Single"
                                AllowSelectRowByClick="true">
                            <Columns>
                                <DxGridDataColumn FieldName="PatientCode" Caption="Pacient ID" DataRowEditorVisible="false" />
                                <DxGridDataColumn FieldName="PatientName" Caption="Poznámka" />
                                <DxGridDataColumn FieldName="CreatedAt" Caption="Vytvorený" DataRowEditorVisible="false" />
                                @if (isAdmin)
                                {
                                    <DxGridDataColumn FieldName="Doctor" Caption="Lekár" TextAlignment="GridTextAlignment.Center" DataRowEditorVisible="false" />
                                }
                                <DxGridDataColumn FieldName="Valid" Caption="Stav pacienta" TextAlignment="GridTextAlignment.Center" DataRowEditorVisible="false" />
                                <DxGridDataColumn>
                                    <CellDisplayTemplate Context="gridContext">
                                        <div style="display: flex; flex-direction: column; gap: 10px; align-items: center;">
                                            <ProgressBarCell ProgressPercentage="@(((Data.Models.Patient)(gridContext.DataItem))?.ProgressPercentage ?? 0)" />
                                        </div>
                                    </CellDisplayTemplate>
                </DxGridDataColumn>
                                <DxGridCommandColumn Width="80px" Caption="Akcie" NewButtonVisible="false">
                                    <CellDisplayTemplate Context="gridContext">
                                        @{
                                            var patient = (Data.Models.Patient)gridContext.DataItem;
                                        }
                                        <div class="grid-cell-align-center">
                                            <DxButton IconCssClass="grid-icon grid-icon-edit"
                                                      RenderStyle="ButtonRenderStyle.Link"
                                                      title="Zobraziť dotazník"
                                                      Click="@(async () => Navigation.NavigateTo($"/questionnaire/1info/{patient.Id}"))" />
                                            @* <DxButton IconCssClass="grid-icon grid-icon-delete"
                                                      RenderStyle="ButtonRenderStyle.Link"
                                                      title="Vymazať používateľa"
                                                      Click="@(() => patientsGrid!.ShowRowDeleteConfirmation(gridContext.VisibleIndex))" /> *@
                                        </div>
                                    </CellDisplayTemplate>
                                    <CellEditTemplate Context="editContext">
                                        <div class="grid-cell-align-center">
                                            <DxButton Enabled="false"
                                                      aria-label="Delete"
                                                      CssClass="grid-disabled-button"
                                                      IconCssClass="grid-toolbar-delete"
                                                      RenderStyle="ButtonRenderStyle.Link" />
                                        </div>
                                    </CellEditTemplate>
                                </DxGridCommandColumn>
                            </Columns>
                        </DxGrid>
                    </Template>
                </DxFormLayoutItem>
            </DxFormLayout>
        }
    </div>
    @if (!isAdmin)
    {
        <div style="width: 45%" class="accestable first-div">
            <div class="mo-caption-styleH3">Základné informácie o pracovisku</div>
            <Workplace />
        </div>
    }
</div>

@code {
    private IGrid? patientsGrid { get; set; }
    public List<Data.Models.Patient>? Patients { get; set; }
    private TaskCompletionSource<bool> DataLoadedTcs { get; } = new(TaskCreationOptions.RunContinuationsAsynchronously);
    private bool isAdmin;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;
            isAdmin = user.IsInRole("Admin");

            await UpdateDataAsync();
        }
    }   

    private async Task Grid_EditModelSaving(GridEditModelSavingEventArgs e)
    {
        var patient = (Data.Models.Patient)e.EditModel;
        await PatientService.SavePatientAsync(patient);
        await UpdateDataAsync();
        ModifyToast();
    }
    // Nastavenie objektu "DeletedAt"
    private async Task Grid_DataItemDeleting(GridDataItemDeletingEventArgs e)
    {
        var patient = (Data.Models.Patient)e.DataItem;
        await PatientService.DeletePatientAsync(patient.Id);
        await UpdateDataAsync();
        DeleteToast();
    }
    private void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow)
        {
            if (Patients != null && e.VisibleIndex >= 0 && e.VisibleIndex < Patients.Count)
            {
                var patient = Patients?[e.VisibleIndex];
                if (patient != null && patient.Valid == Data.Models.Patient.ValidEnum.Predčasne_vylúčený)
                {
                    e.Style = "background-color: #f0f0f0; color: black;";
                }
            }
        }
        if (e.ElementType == GridElementType.HeaderCell)
        {
            e.Style = "background-color: rgba(0, 0, 0, 0.08); font-weight: bold;";
        }
    }

    //Reload Grid
    async Task UpdateDataAsync()
    {
        Patients = await PatientService.GetPatientsAsync();
        DataLoadedTcs.TrySetResult(true);
        patientsGrid?.Reload();
        await InvokeAsync(StateHasChanged);
    }

    // Notifikacie
    private void ModifyToast()
    {
        ToastService.ShowToast(new ToastOptions
            {
                ProviderName = "Overview",
                Title = "Údaje úspešne aktualizované",
                ThemeMode = ToastThemeMode.Saturated,
                RenderStyle = ToastRenderStyle.Success,
            });
    }
    private void DeleteToast()
    {
        ToastService.ShowToast(new ToastOptions
            {
                ProviderName = "Overview",
                Title = "Pacient bol úspešne odstránený",
                ThemeMode = ToastThemeMode.Saturated,
                RenderStyle = ToastRenderStyle.Success,
            });
    }

    public void Dispose()
    {
        DataLoadedTcs.TrySetCanceled();
    }
}
