@page "/Account/InvalidPasswordReset"

<PageTitle>Neplatné obnovenie hesla</PageTitle>

<div class="main-content">
    <div class="block-content">
        <div class="title">
            <div class="title-header-text">Neplatné obnovenie hesla</div>
            <div class="title-content-text">Odkaz na obnovenie hesla je neplatný.</div>
        </div>
    </div>
</div>