@page "/entryQ/treat/"

@using Krka.MoveOn.Data.Questionnaires
@using Krka.MoveOn.Services
@attribute [StreamRendering(true)]
@rendermode InteractiveServer

@inject Q01Service Q01Service

<PageTitle>MoveOn - Liečba pridružených problémov </PageTitle>

<div>
    <_EntryBtn />
</div>

<div>
    <h1>MoveOn - Liečba pridružených problémov </h1>
</div>

<div>
    <TreatmentTable />
</div>


@code {

}