@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Krka.MoveOn.Resources;
@using System.Globalization
@inject IStringLocalizer<NavMenu> localizer

@attribute [Authorize]

<div id="sidebar">
    <DxGridLayout CssClass="page-layout" RowSpacing="1.5rem">
        <Rows>
            <DxGridLayoutRow Areas="header menu-button" Height="auto"></DxGridLayoutRow>
            <DxGridLayoutRow Areas="navigation navigation"></DxGridLayoutRow>
            <DxGridLayoutRow Areas="footer footer" Height="auto"></DxGridLayoutRow>
        </Rows>
        <Columns>
            <DxGridLayoutColumn></DxGridLayoutColumn>
            <DxGridLayoutColumn Width="auto"></DxGridLayoutColumn>
        </Columns>
        <Items>
            <DxGridLayoutItem Area="header" CssClass="sidebar-header">
                <Template>
                    <div>
                        <h2 class="NavMenu">MoveOn</h2>
                    </div>
                    @* <img class="logo" src="images/logo.svg" alt="DevExpress logo" /> *@
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Area="menu-button" CssClass="sidebar-header menu-button-container">
                <Template>
                    <div class="menu-button" onclick="(document.getElementById('sidebar').classList.toggle('auto-expanded'), document.getElementById('menu-top').classList.toggle('hidden'))"></div>
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Area="navigation" CssClass="layout-item">
                <Template>
                    <div class="menu-closeonclick-placeholder" onclick="document.getElementById('sidebar').classList.remove('auto-expanded')">
                    </div>
                    <DxMenu Orientation="@Orientation.Vertical" CssClass="menu display-mobile">
                        <Items>
                            <AuthorizeView>
                                <Authorized>
                                    <DxMenuItem NavigateUrl="Account/Manage" Text="@context.User.Identity?.Name" CssClass="menu-item" IconCssClass="icon user-icon"></DxMenuItem>
                                    <DxMenuItem NavigateUrl="Account/Logout" Text="Log out" CssClass="menu-item" IconCssClass="icon log-out-icon"></DxMenuItem>
                                </Authorized>
                                <NotAuthorized>
                                    <DxMenuItem NavigateUrl="Account/Login" Text="Log in" CssClass="menu-item" IconCssClass="icon log-in-icon"></DxMenuItem>
                                </NotAuthorized>
                            </AuthorizeView>
                        </Items>
                    </DxMenu>
                    <DxMenu Orientation="@Orientation.Vertical" CssClass="menu">
                        <Items>
                            <DxMenuItem NavigateUrl="/" Text="Domov" CssClass="menu-item" IconCssClass="icon home-icon"></DxMenuItem>
                            <DxMenuItem NavigateUrl="/Account/Manage" Text="Profil" CssClass="menu-item" IconCssClass="icon settings-icon"></DxMenuItem>
                            <AuthorizeView>
                                <DxMenuItem NavigateUrl="/patients" Text="Pacienti" CssClass="menu-item" IconCssClass="icon patients-icon"></DxMenuItem>
                            </AuthorizeView>
                            <AuthorizeView Roles="Admin">
                                <DxMenuItem NavigateUrl="/users" Text="Používatelia" CssClass="menu-item" IconCssClass="icon users-icon"></DxMenuItem>
                            </AuthorizeView>
                        </Items>
                    </DxMenu>
                </Template>

            </DxGridLayoutItem>

            <DxGridLayoutItem Area="footer" CssClass="sidebar-header">
                <Template>
                    <div>
                        <p class="NavMenu">Verzia 1.0.15</p>
                    </div>                
                </Template>
            </DxGridLayoutItem>
        </Items>
    </DxGridLayout>

</div>