@page "/Account/AccessDenied"

<PageTitle>Prístup odmietnutý</PageTitle>

<div class="main-content">
    <div class="block-content">
        <div class="title">
            <div class="title-header-text text-danger">Prístup odmietnutý</div>
            <div class="title-content-text text-danger">K tomuto zdroju nemáte prístup.</div>
        </div>
    </div>
</div>