@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Potvrdenie zabudnutého hesla</PageTitle>

<div class="main-content">
    <div class="block-content">
        <div class="title">
            <div class="title-header-text">Potvrdenie zabudnutého hesla</div>
            <div class="title-content-text">Skontrolujte svoj e-mail a obnovte svoje heslo.</div>
        </div>
    </div>
</div>