@page "/Account/InvalidUser"

<PageTitle>Neplatný používateľ</PageTitle>

<div class="main-content">
    <div class="block-content">
        <div class="title">
            <div class="title-header-text">Neplatný používateľ</div>
        </div>
    </div>
</div>