@page "/Account/Lockout"

<PageTitle>Uzamknuté</PageTitle>

<div class="main-content">
    <div class="block-content">
        <div class="title">
            <div class="title-header-text">Uzamknuté</div>
            <div class="title-content-text">Tento účet bol zablokovaný, skúste to znova neskôr.</div>
        </div>
    </div>
</div>