@page "/Account/ResetPasswordConfirmation"
<PageTitle>Potvrdenie obnovenia hesla</PageTitle>

<div class="main-content">
    <div class="block-content">
        <div class="title">
            <div class="title-header-text">Potvrdenie obnovenia hesla</div>
            <div class="title-content-text">Vaše heslo bolo obnovené. Prosím <a href="Account/Login">kliknutím sem sa prihláste</a></div>
        </div>
    </div>
</div>