@page "/entryQ/motor/{questionnaireId:guid}"

@using Krka.MoveOn.Services.Questionnaires
@using Krka.MoveOn.Components.Pages.Patient.EntryQuestionnaire.Components
@using Krka.MoveOn.Components.Pages.Patient.Components
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
@attribute [StreamRendering(true)]
@rendermode InteractiveServer

<PageTitle>MoveOn - MDS-UPDRS škála </PageTitle>

<div class="d-flex align-items-center custom-toast-background">
    <DxToastProvider Name="Overview"
                     MaxToastCount="3"
                     AnimationType="ToastAnimationType.Slide"
                     HorizontalAlignment="HorizontalAlignment.Right"
                     VerticalAlignment="VerticalEdge.Top"
                     Width="320px" />
</div>

<div class="cw-880" style="width: 70%; margin: 0 auto;">
    <_EntryBtn />

    <div class="grid-container" style="display: flex;">
        <div class="grid-item" style="flex: 1;">
            <Motor04Table questionnaireId="@QuestionnaireIdAsString" />
            <br>
            <Motor05Table questionnaireId="@QuestionnaireIdAsString" />
        </div>
        <div class="grid-item" style="flex: 1; margin-left: 20px;">
            <Motor06Table questionnaireId="@QuestionnaireIdAsString" />
        </div>
    </div>
</div>



@code {
    [Parameter]
    public Guid questionnaireId { get; set; }

    public string QuestionnaireIdAsString => questionnaireId.ToString();
}