::deep .mo-nav-submenu-bar {
    position: sticky;
    top: 40px;
    z-index: 999;
    width: 100%;
    background-color: #fff;
}

::deep .mo-buttons-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

    ::deep .mo-nav-submenu-bar .rectangular-button {
        border-radius: 16px;
        padding: 10px 10px;
        border: 1px solid black;
        border-color: #dfdfdf;
        width: 100%;
        min-width: 31.8%;
        min-height: 80px;
    }

    ::deep .mo-nav-submenu-bar .active-button {
        background-color: rgba(109, 36, 120, 0.5);
        border-color: rgba(109, 36, 120, 0.5);
        color: white;
    }

::deep .d-flex .flex-fill {
    flex: 1 1 auto;
}


@media (max-width: 1366px) {
    .mo-buttons-group {
        display: flex;
        justify-content: space-between;
        width: 99%;
        gap: 5px;
    }

    .mo-nav-submenu-bar .rectangular-button {
        min-height: 0px;
        border-radius: 15px;
    }
}
@media (max-width: 1024px) {
    .mo-buttons-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 207% !important;
        margin-bottom: 10px;
        min-height: 0px;
    }

    .mo-nav-submenu-bar .rectangular-button {
        min-height: 0px;
        border-radius: 20px;
    }
}