@page "/questionnaire/1info/{patientId}"

@using Microsoft.AspNetCore.Authorization
@using Servier.Pressure.Components.Pages.Components
@using Servier.Pressure.Services
@using Servier.Pressure.Services.Pages

@attribute [Authorize]
@rendermode InteractiveServer

@inject PatientService PatientService
@inject SurveyProgressService ProgressService

<PageTitle>Electronic case report</PageTitle>

<div class="d-flex align-items-center custom-toast-background">
    <DxToastProvider Name="Overview"
                     MaxToastCount="3"
                     AnimationType="ToastAnimationType.Slide"
                     HorizontalAlignment="HorizontalAlignment.Right"
                     VerticalAlignment="VerticalEdge.Top"
                     Width="320px" />
</div>

<div class="cw-880 mo-main-layout">
    <QuestHeader patientId="@patientId" />
    <InformedConsentComp patientId="@patientId" />
</div>

@code {
    [Parameter]
    public required string patientId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ProgressService.Reset();

        var patient = await PatientService.GetPatientByIdAsync(patientId);
        if (patient != null)
        {
            Dictionary<string, bool> fieldStates = [];
            fieldStates.Add("IsConsentCompetence01", patient.IsConsentCompetence01);
            fieldStates.Add("IsPreStudyTreatment02", patient.IsPreStudyTreatment02);
            fieldStates.Add("IsDemographicsHistory03", patient.IsDemographicsHistory03);
            fieldStates.Add("IsVisit104", patient.IsVisit104);
            fieldStates.Add("IsVisit205", patient.IsVisit205);
            fieldStates.Add("IsHomeMonitoring06", patient.IsHomeMonitoring06);
            ProgressService.LoadFields(fieldStates);
        }
    }
}
