@page "/ongoingQ/motor/{questionnaireId}"

@using Krka.MoveOn.Services.Questionnaires
@using Krka.MoveOn.Components.Pages.Patient.OngoingQuestionnaire.Components
@using Krka.MoveOn.Components.Pages.Patient.Components

@attribute [StreamRendering(true)]
@rendermode InteractiveServer


<PageTitle>MoveOn - MDS-UPDRS škála </PageTitle>

<div class="cw-880" style="width: 70%; margin: 0 auto;">
    <_EntryBtn />
     
    <Motor040506Table questionnaireId="@questionnaireId" />
    
</div>






@code {
    [Parameter]
    public string questionnaireId { get; set; }
}