@page "/ongoingQ/motor/{questionnaireId:guid}"

@using Krka.MoveOn.Services.Questionnaires
@using Krka.MoveOn.Components.Pages.Patient.OngoingQuestionnaire.Components
@using Krka.MoveOn.Components.Pages.Patient.Components

@attribute [StreamRendering(true)]
@rendermode InteractiveServer


<PageTitle>MoveOn - Detekcia pacientov s príznakmi Parkinsonovej choroby a jej ďalší manažment </PageTitle>

<div class="cw-880" style="width: 70%; margin: 0 auto;">
    <_OngoingBtn />
     
    <Motor06Table questionnaireId="@QuestionnaireIdAsString" />
    
</div>






@code {
    [Parameter]
    public Guid questionnaireId { get; set; }

    public string QuestionnaireIdAsString => questionnaireId.ToString();
}