@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

﻿<div id="sidebar">
    <DxMenu Orientation="@Orientation.Vertical" CssClass="menu display-mobile">
        <Items>
            <AuthorizeView>
                <Authorized>
                    <DxMenuItem NavigateUrl="Account/Manage" Text="@context.User.Identity?.Name" CssClass="menu-item" IconCssClass="icon user-icon"></DxMenuItem>
                    <DxMenuItem NavigateUrl="Account/Logout" Text="Odhlásiť sa" CssClass="menu-item" IconCssClass="icon log-out-icon"></DxMenuItem>
                </Authorized>
                <NotAuthorized>
                    <DxMenuItem NavigateUrl="Account/Login" Text="Prihlásiť sa" CssClass="menu-item" IconCssClass="icon log-in-icon"></DxMenuItem>
                </NotAuthorized>
            </AuthorizeView>
        </Items>
    </DxMenu>                                  
    <DxMenu Orientation="@Orientation.Vertical" CssClass="menu">
        <Items>
            <DxMenuItem NavigateUrl="/" Text="Domov" CssClass="menu-item" IconCssClass="icon home-icon"></DxMenuItem>
            <DxMenuItem NavigateUrl="Account/Manage" Text="Profil" CssClass="menu-item" IconCssClass="icon settings-icon"></DxMenuItem>
            <AuthorizeView>
                <DxMenuItem NavigateUrl="/patients" Text="Pacienti" CssClass="menu-item" IconCssClass="icon patients-icon"></DxMenuItem>
                <DxMenuItem NavigateUrl="files/Formular_hlaseniePV.pdf" Text="Formulár na hlásenie PV informácií" CssClass="menu-item" IconCssClass="icon pdf-icon" Target="_blank"></DxMenuItem>
            </AuthorizeView>
            <AuthorizeView Roles="Admin">
                <DxMenuItem NavigateUrl="/users" Text="Používatelia" CssClass="menu-item" IconCssClass="icon users-icon"></DxMenuItem>
            </AuthorizeView>
        </Items>
    </DxMenu>
</div>