@import url('open.iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html, body {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/*.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}*/

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.button-link {
    text-decoration: unset;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.title {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 0.625rem;
}

    .title.title-secondary {
        padding-top: 0.313rem;
        padding-bottom: 0;
        color: var(--bs-secondary-color);
    }

.title-header-text {
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 600;
    letter-spacing: 0rem;
    padding: 0.3125rem 0;
}

.title-content-text {
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 2.5rem;
    letter-spacing: 0rem;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.block-content {
    width: 31.25rem;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    max-width: 100%;
}


.or {
    display: flex;
    flex-direction: row;
    align-items: center;
}

    .or .or-line {
        border-bottom: 1px solid var(--bs-body-color);
        width: 100%;
        opacity: 0.2;
    }

    .or .or-text {
        padding: 0 0.625rem 0px 0.625rem;
        font-size: 0.75rem;
        line-height: 1.125rem;
        color: var(--bs-body-color);
        opacity: 0.7;
    }

.links-area {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    padding-top: 0.625rem;
}

.links-container {
    display: flex;
    gap: 0.25rem;
    justify-content: center;
    align-items: center;
}

    .links-container .dot {
        height: 0.3125rem;
        width: 0.3125rem;
        margin: 0 0.1875rem;
        border-radius: 50%;
        background-color: var(--bs-body-color);
        opacity: 0.7;
    }

.manage-layout {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.info-message::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.15;
    background: var(--bs-primary);
    z-index: -1;
}

.info-message {
    padding: 0.625rem 1rem 0.625rem 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .info-message.info-panel {
        margin-bottom: 0.625rem;
    }

.manage-content {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.large-input {
    height: 4.3125rem;
    font-size: 1.875rem;
}

.title-content-text-secondary {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.button-group {
    display: flex;
    flex-direction: row;
    gap: 0.625rem;
}

.confirm-button {
    margin-top: 0.3125rem;
}

.display-desktop {
    display: block;
}

.display-mobile {
    display: none;
}

.icon-external-provider {
    width: 1rem;
    height: 1rem;
}

.icon-google {
    background-image: url("/images/account/providers/google-logo.svg")
}

.icon-facebook {
    background-image: url("/images/account/providers/facebook-logo.svg")
}

.icon-microsoft {
    background-image: url("/images/account/providers/microsoft-logo.svg")
}

.icon-twitter {
    background-image: url("/images/account/providers/x-logo.svg")
}

@media (max-width: 768px) {
    .display-desktop {
        display: none;
    }

    .display-mobile {
        display: block;
    }
}

.grid-cell-align-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -4px;
    margin-bottom: -4px;
}

.grid-header-align-center {
    text-align: center;
    width: 100%;
}

.grid-disabled-button {
    pointer-events: none;
}

.grid-icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    min-width: 1rem;
    min-height: 1rem;
    background-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    background-position: center center;
    background-color: currentColor;
    vertical-align: middle;
}

.grid-icon-add {
    -webkit-mask-image: url("/images/add.svg");
    mask-image: url("/images/add.svg");
}

.grid-icon-delete {
    -webkit-mask-image: url("/images/trash.svg");
    mask-image: url("/images/trash.svg");
}

.grid-icon-edit {
    -webkit-mask-image: url("/images/pencil-square.svg");
    mask-image: url("/images/pencil-square.svg");
}

.grid-icon-key {
    -webkit-mask-image: url("/images/key.svg");
    mask-image: url("/images/key.svg");
}

.mo-caption-styleH3 {
    background-color: rgba(109, 36, 120, 0.01);
    color: #363c41;
    padding: 5px;
    border-radius: 2px;
    text-align: left;
    font-weight: bold;
    display: flex;
    margin-top: 5px;
    margin-left: 2px;
}

.mo-main-layout {
    width: 70%;
    margin: 0 auto;
}

.mo-nav-submenu-bar .rectangular-button {
    border-radius: 16px;
    padding: 10px 10px;
    border: 1px solid black;
    border-color: #dfdfdf;
    width: 100%;
    min-width: 31.8%;
    min-height: 80px;
}

    .mo-nav-submenu-bar .rectangular-button:hover {
        background-color: #dee2e6 !important;
        color: black !important;
        border-color: white !important;
    }

.mo-nav-submenu-bar .active-button {
    background-color: rgba(114, 130, 241, 0.5);
    border-color: rgba(114, 130, 241, 0.5);
    color: white;
}

.caption-styleH0 {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

.caption-styleH1 {
    font-size: 14px;
    white-space: normal !important;
    word-break: break-word;
}

.caption-styleH1-blue {
    font-size: 14px;
    white-space: normal !important;
    word-break: break-word;
    color: #6e7de8 !important;
}

.long-caption {
    max-width: 150px;
}

.form-separator hr {
    margin: 4px 0;
    padding: 0;
    border: none;
    border-top: 1px solid #ccc;
}