@page "/ongoingQ/satisfaction/{questionnaireId:guid}"

@using Krka.MoveOn.Services.Questionnaires
@using Krka.MoveOn.Components.Pages.Patient.OngoingQuestionnaire.Components
@using Krka.MoveOn.Components.Pages.Patient.Components
@using Krka.MoveOn.Data.Questionnaires

@attribute [StreamRendering(true)]
@rendermode InteractiveServer

@inject Satisfaction10Service SatisfactionService
@inject IToastNotificationService ToastService

<style>
    table {
        width: 100%;
    }

    th {
        text-align: center;
    }

    .radio-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
</style>

<PageTitle>MoveOn - Detekcia pacientov s príznakmi Parkinsonovej choroby a jej ďalší manažment </PageTitle>

<div class="cw-880" style="width: 70%; margin: 0 auto;">
    <_OngoingBtn />

    <Satisfaction10Form questionnaireId="@QuestionnaireIdAsString" />

</div>






@code {
    [Parameter]
    public Guid questionnaireId { get; set; }

    public string QuestionnaireIdAsString => questionnaireId.ToString();

    
}

