@using Krka.MoveOn.Services.Questionnaires

@attribute [StreamRendering(true)]
@rendermode InteractiveServer

@inject Motor06Service MotorService
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IToastNotificationService ToastService


<div class="Motor06Table">
    <span>MDS-UPDRS škála, časť III. – Nemotorické stránky denného života (nM-EDL)</span>
</div>
<DxGrid @ref="motskillGrid"
        Data="Motskill"
        KeyFieldName="Fieldname"
        PageSize="35"
        ValidationEnabled="false"
        EditMode="GridEditMode.EditCell"
        FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
        ColumnResizeMode="GridColumnResizeMode.NextColumn"
        TextWrapEnabled="false"
        HighlightRowOnHover="true"
        EditModelSaving="Grid_EditModelSaving"
        FocusedRowEnabled="false">
    <Columns>
        <DxGridDataColumn FieldName="Number" Caption=" " ReadOnly="true" />
        <DxGridDataColumn FieldName="Name" Caption="Doména" ReadOnly="true" />
        <DxGridDataColumn FieldName="Value" Caption="Počet bodov" ReadOnly="@isReadOnly" DataRowEditorVisible="@(!isReadOnly)">
            <EditSettings>
                <DxSpinEditSettings MinValue="0" MaxValue="4" />
            </EditSettings>
        </DxGridDataColumn>
    </Columns>

    <TotalSummary>
        <DxGridSummaryItem SummaryType="GridSummaryItemType.Sum" FieldName="Value" ValueDisplayFormat=" {0}" />
    </TotalSummary>
</DxGrid>

<p>
    <span style=" font-weight: 600;"> *(P – pravá, Ľ – ľavá, PHK – pravá horná končatina, ĽHK – ľavá horná končatina, PDK – pravá dolná končatina, ĽDK – ľavá dolná končatina)</span>
</p>



@code {
    [Parameter]
    [EditorRequired]
    public string questionnaireId { get; set; }

    bool IsInfoOpen3 { get; set; } = false;

    IGrid motskillGrid { get; set; }

    public List<MDSItem>? Motskill { get; set; }

    Dictionary<Data.Questionnaires.QuestionnaireMotorSkill06, DataChange> UnsavedChanges { get; } = new();
    bool BatchItemsEnabled => UnsavedChanges.Count > 0 || motskillGrid.IsEditing();
    bool isReadOnly = false;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.IsInRole("Office"))
        {
            isReadOnly = true;
        }

        await UpdateDataAsync();
    }


    private async Task Grid_EditModelSaving(GridEditModelSavingEventArgs e)
    {
        var item = (MDSItem)e.EditModel;
        var questionnaire = await MotorService.GetQuestionnaireMotorSkill06(questionnaireId) ?? new Data.Questionnaires.QuestionnaireMotorSkill06
            {
                Motskill_1 = 0,
                Motskill_2 = 0,
                Motskill_3 = 0,
                Motskill_4 = 0,
                Motskill_5 = 0,
                Motskill_6 = 0,
                Motskill_7 = 0,
                Motskill_8 = 0,
                Motskill_9 = 0,
                Motskill_10 = 0,
                Motskill_11 = 0,
                Motskill_12 = 0,
                Motskill_13 = 0,
                Motskill_14 = 0,
                Motskill_15 = 0,
                Motskill_16 = 0,
                Motskill_17 = 0,
                Motskill_18 = 0,
                Motskill_19 = 0,
                Motskill_20 = 0,
                Motskill_21 = 0,
                Motskill_22 = 0,
                Motskill_23 = 0,
                Motskill_24 = 0,
                Motskill_25 = 0,
                Motskill_26 = 0,
                Motskill_27 = 0,
                Motskill_28 = 0,
                Motskill_29 = 0,
                Motskill_30 = 0,
                Motskill_31 = 0,
                Motskill_32 = 0,
                Motskill_33 = 0,


                Questionnaire_id = questionnaireId,
                CreatedAt = DateTime.Now,
                ModifiedAt = DateTime.Now
            };

        bool hasChanges = false;

        switch (item.Fieldname)
        {
            case "Motskill_1":
                if (questionnaire.Motskill_1 != item.Value)
                {
                    questionnaire.Motskill_1 = item.Value;
                    hasChanges = true;
                }
                break;
            case "Motskill_2":
                if (questionnaire.Motskill_2 != item.Value)
                {
                    questionnaire.Motskill_2 = item.Value;
                    hasChanges = true;
                }
                break;
            case "Motskill_3":
                if (questionnaire.Motskill_3 != item.Value)
                {
                    questionnaire.Motskill_3 = item.Value;
                    hasChanges = true;
                }
                break;
            case "Motskill_4":
                if (questionnaire.Motskill_4 != item.Value)
                {
                    questionnaire.Motskill_4 = item.Value;
                    hasChanges = true;
                }
                break;
            case "Motskill_5":
                if (questionnaire.Motskill_5 != item.Value)
                {
                    questionnaire.Motskill_5 = item.Value;
                    hasChanges = true;
                }
                break;
            case "Motskill_6":
                if (questionnaire.Motskill_6 != item.Value)
                {
                    questionnaire.Motskill_6 = item.Value;
                    hasChanges = true;
                }
                break;
            case "Motskill_7":
                if (questionnaire.Motskill_7 != item.Value)
                {
                    questionnaire.Motskill_7 = item.Value;
                    hasChanges = true;
                }
                break;
            case "Motskill_8":
                if (questionnaire.Motskill_8 != item.Value)
                {
                    questionnaire.Motskill_8 = item.Value;
                    hasChanges = true;
                }
                break;
            case "Motskill_9":
                if (questionnaire.Motskill_9 != item.Value)
                {
                    questionnaire.Motskill_9 = item.Value;
                    hasChanges = true;
                }
                break;
            case "Motskill_10":
                if (questionnaire.Motskill_10 != item.Value)
                {
                    questionnaire.Motskill_10 = item.Value;
                    hasChanges = true;
                }
                break;
            case "Motskill_11":
                if (questionnaire.Motskill_11 != item.Value)
                {
                    questionnaire.Motskill_11 = item.Value;
                    hasChanges = true;
                }
                break;
            case "Motskill_12":
                if (questionnaire.Motskill_12 != item.Value)
                {
                    questionnaire.Motskill_12 = item.Value;
                    hasChanges = true;
                }
                break;
            case "Motskill_13":
                if (questionnaire.Motskill_13 != item.Value)
                {
                    questionnaire.Motskill_13 = item.Value;
                    hasChanges = true;
                }
                break;
            case "Motskill_14":
                if (questionnaire.Motskill_14 != item.Value)
                {
                    questionnaire.Motskill_14 = item.Value;
                    hasChanges = true;
                }
                break;
            case "Motskill_15":
                if (questionnaire.Motskill_15 != item.Value)
                {
                    questionnaire.Motskill_15 = item.Value;
                    hasChanges = true;
                }
                break;
            case "Motskill_16":
                if (questionnaire.Motskill_16 != item.Value)
                {
                    questionnaire.Motskill_16 = item.Value;
                    hasChanges = true;
                }
                break;
            case "Motskill_17":
                if (questionnaire.Motskill_17 != item.Value)
                {
                    questionnaire.Motskill_17 = item.Value;
                    hasChanges = true;
                }
                break;
            case "Motskill_18":
                if (questionnaire.Motskill_18 != item.Value)
                {
                    questionnaire.Motskill_18 = item.Value;
                    hasChanges = true;
                }
                break;
            case "Motskill_19":
                if (questionnaire.Motskill_19 != item.Value)
                {
                    questionnaire.Motskill_19 = item.Value;
                    hasChanges = true;
                }
                break;
            case "Motskill_20":
                if (questionnaire.Motskill_20 != item.Value)
                {
                    questionnaire.Motskill_20 = item.Value;
                    hasChanges = true;
                }
                break;
            case "Motskill_21":
                if (questionnaire.Motskill_21 != item.Value)
                {
                    questionnaire.Motskill_21 = item.Value;
                    hasChanges = true;
                }
                break;
            case "Motskill_22":
                if (questionnaire.Motskill_22 != item.Value)
                {
                    questionnaire.Motskill_22 = item.Value;
                    hasChanges = true;
                }
                break;
            case "Motskill_23":
                if (questionnaire.Motskill_23 != item.Value)
                {
                    questionnaire.Motskill_23 = item.Value;
                    hasChanges = true;
                }
                break;
            case "Motskill_24":
                if (questionnaire.Motskill_24 != item.Value)
                {
                    questionnaire.Motskill_24 = item.Value;
                    hasChanges = true;
                }
                break;
            case "Motskill_25":
                if (questionnaire.Motskill_25 != item.Value)
                {
                    questionnaire.Motskill_25 = item.Value;
                    hasChanges = true;
                }
                break;
            case "Motskill_26":
                if (questionnaire.Motskill_26 != item.Value)
                {
                    questionnaire.Motskill_26 = item.Value;
                    hasChanges = true;
                }
                break;
            case "Motskill_27":
                if (questionnaire.Motskill_27 != item.Value)
                {
                    questionnaire.Motskill_27 = item.Value;
                    hasChanges = true;
                }
                break;
            case "Motskill_28":
                if (questionnaire.Motskill_28 != item.Value)
                {
                    questionnaire.Motskill_28 = item.Value;
                    hasChanges = true;
                }
                break;
            case "Motskill_29":
                if (questionnaire.Motskill_29 != item.Value)
                {
                    questionnaire.Motskill_29 = item.Value;
                    hasChanges = true;
                }
                break;
            case "Motskill_30":
                if (questionnaire.Motskill_30 != item.Value)
                {
                    questionnaire.Motskill_30 = item.Value;
                    hasChanges = true;
                }
                break;
            case "Motskill_31":
                if (questionnaire.Motskill_31 != item.Value)
                {
                    questionnaire.Motskill_31 = item.Value;
                    hasChanges = true;
                }
                break;
            case "Motskill_32":
                if (questionnaire.Motskill_32 != item.Value)
                {
                    questionnaire.Motskill_32 = item.Value;
                    hasChanges = true;
                }
                break;
            case "Motskill_33":
                if (questionnaire.Motskill_33 != item.Value)
                {
                    questionnaire.Motskill_33 = item.Value;
                    hasChanges = true;
                }
                break;
        }

        var nonmotItem = Motskill.FirstOrDefault(n => n.Fieldname == item.Fieldname);
        if (nonmotItem != null)
        {
            nonmotItem.Value = item.Value;
        }

        if (UnsavedChanges.TryGetValue(questionnaire, out var changes))
        {
            changes.ChangedFields.Add(item.Fieldname);
        }
        else
        {
            UnsavedChanges[questionnaire] = new DataChange(DataChangeType.Modification, new HashSet<string> { item.Fieldname });
        }

        if (hasChanges)
        {
            foreach (var unsavedChange in UnsavedChanges)
            {
                var changedItem = unsavedChange.Key;
                var changeType = unsavedChange.Value.Type;
                switch (changeType)
                {
                    case DataChangeType.Modification:
                        await MotorService.SaveOrUpdateQuestionnaireMotorSkill06(changedItem);
                        ModifyToast();
                        break;
                }
            }
        }
        await ClearUnsavedChangesAsync();

        motskillGrid.Reload();
    }

    async Task UpdateDataAsync()
    {
        var motskill = await MotorService.GetQuestionnaireMotorSkill06(questionnaireId);
        Motskill = new List<MDSItem>();

        #region "Table motskill"

        Motskill.Add(new MDSItem() { Fieldname = "Motskill_1", Number = "3.1", Name = "Reč", Value = (motskill != null) ? motskill.Motskill_1 : 0 });
        Motskill.Add(new MDSItem() { Fieldname = "Motskill_2", Number = "3.2", Name = "Výraz tváre", Value = (motskill != null) ? motskill.Motskill_2 : 0 });
        Motskill.Add(new MDSItem() { Fieldname = "Motskill_3", Number = "3.3a", Name = "Rigidita - krk", Value = (motskill != null) ? motskill.Motskill_3 : 0 });
        Motskill.Add(new MDSItem() { Fieldname = "Motskill_4", Number = "3.3b", Name = "Rigidita - PHK", Value = (motskill != null) ? motskill.Motskill_4 : 0 });
        Motskill.Add(new MDSItem() { Fieldname = "Motskill_5", Number = "3.3c", Name = "Rigidita - ĽHK", Value = (motskill != null) ? motskill.Motskill_5 : 0 });
        Motskill.Add(new MDSItem() { Fieldname = "Motskill_6", Number = "3.3d", Name = "Rigidita - PDK", Value = (motskill != null) ? motskill.Motskill_6 : 0 });
        Motskill.Add(new MDSItem() { Fieldname = "Motskill_7", Number = "3.3e", Name = "Rigidita - ĽDK", Value = (motskill != null) ? motskill.Motskill_7 : 0 });
        Motskill.Add(new MDSItem() { Fieldname = "Motskill_8", Number = "3.4a", Name = "Spínanie prstov – P ruka", Value = (motskill != null) ? motskill.Motskill_8 : 0 });
        Motskill.Add(new MDSItem() { Fieldname = "Motskill_9", Number = "3.4b", Name = "Spínanie prstov – Ľ ruka", Value = (motskill != null) ? motskill.Motskill_9 : 0 });
        Motskill.Add(new MDSItem() { Fieldname = "Motskill_10", Number = "3.5a", Name = "Pohyby rúk – P ruka", Value = (motskill != null) ? motskill.Motskill_10 : 0 });
        Motskill.Add(new MDSItem() { Fieldname = "Motskill_11", Number = "3.5b", Name = "Pohyby rúk – Ľ ruka", Value = (motskill != null) ? motskill.Motskill_11 : 0 });
        Motskill.Add(new MDSItem() { Fieldname = "Motskill_12", Number = "3.6a", Name = "Supinačne-pronančné pohyby rúk – P ruka", Value = (motskill != null) ? motskill.Motskill_12 : 0 });
        Motskill.Add(new MDSItem() { Fieldname = "Motskill_13", Number = "3.6b", Name = "Supinačne-pronančné pohyby rúk – Ľ ruka", Value = (motskill != null) ? motskill.Motskill_13 : 0 });
        Motskill.Add(new MDSItem() { Fieldname = "Motskill_14", Number = "3.7a", Name = "Klopkanie špičkami nôh – P noha", Value = (motskill != null) ? motskill.Motskill_14 : 0 });
        Motskill.Add(new MDSItem() { Fieldname = "Motskill_15", Number = "3.7b", Name = "Klopkanie špičkami nôh – Ľ noha", Value = (motskill != null) ? motskill.Motskill_15 : 0 });
        Motskill.Add(new MDSItem() { Fieldname = "Motskill_16", Number = "3.8a", Name = "Obratnosť dolných končatín - PDK", Value = (motskill != null) ? motskill.Motskill_16 : 0 });
        Motskill.Add(new MDSItem() { Fieldname = "Motskill_17", Number = "3.8b", Name = "Obratnosť dolných končatín - ĽDK", Value = (motskill != null) ? motskill.Motskill_17 : 0 });
        Motskill.Add(new MDSItem() { Fieldname = "Motskill_18", Number = "3.9", Name = "Vstávanie zo stoličky", Value = (motskill != null) ? motskill.Motskill_18 : 0 });
        Motskill.Add(new MDSItem() { Fieldname = "Motskill_19", Number = "3.10", Name = "Chôdza", Value = (motskill != null) ? motskill.Motskill_19 : 0 });
        Motskill.Add(new MDSItem() { Fieldname = "Motskill_20", Number = "3.11", Name = "Stuhnutie počas chôdze (freezing)", Value = (motskill != null) ? motskill.Motskill_20 : 0 });
        Motskill.Add(new MDSItem() { Fieldname = "Motskill_21", Number = "3.12", Name = "Posturálna stabilita", Value = (motskill != null) ? motskill.Motskill_21 : 0 });
        Motskill.Add(new MDSItem() { Fieldname = "Motskill_22", Number = "3.13", Name = "Postoj", Value = (motskill != null) ? motskill.Motskill_22 : 0 });
        Motskill.Add(new MDSItem() { Fieldname = "Motskill_23", Number = "3.14", Name = "Celková spontaneita pohybov (bradykinéza)", Value = (motskill != null) ? motskill.Motskill_23 : 0 });
        Motskill.Add(new MDSItem() { Fieldname = "Motskill_24", Number = "3.15a", Name = "Polohový tras rúk – P ruka", Value = (motskill != null) ? motskill.Motskill_24 : 0 });
        Motskill.Add(new MDSItem() { Fieldname = "Motskill_25", Number = "3.15b", Name = "Polohový tras rúk – Ľ ruka", Value = (motskill != null) ? motskill.Motskill_25 : 0 });
        Motskill.Add(new MDSItem() { Fieldname = "Motskill_26", Number = "3.16a", Name = "Kinetický tras rúk – P ruka", Value = (motskill != null) ? motskill.Motskill_26 : 0 });
        Motskill.Add(new MDSItem() { Fieldname = "Motskill_27", Number = "3.16b", Name = "Kinetický tras rúk – Ľ ruka", Value = (motskill != null) ? motskill.Motskill_27 : 0 });
        Motskill.Add(new MDSItem() { Fieldname = "Motskill_28", Number = "3.17a", Name = "Amplitúda pokojového trasu - PHK", Value = (motskill != null) ? motskill.Motskill_28 : 0 });
        Motskill.Add(new MDSItem() { Fieldname = "Motskill_29", Number = "3.17b", Name = "Amplitúda pokojového trasu - ĽHK", Value = (motskill != null) ? motskill.Motskill_29 : 0 });
        Motskill.Add(new MDSItem() { Fieldname = "Motskill_30", Number = "3.17c", Name = "Amplitúda pokojového trasu - PDK", Value = (motskill != null) ? motskill.Motskill_30 : 0 });
        Motskill.Add(new MDSItem() { Fieldname = "Motskill_31", Number = "3.17d", Name = "Amplitúda pokojového trasu - ĽDK", Value = (motskill != null) ? motskill.Motskill_31 : 0 });
        Motskill.Add(new MDSItem() { Fieldname = "Motskill_32", Number = "3.17e", Name = "Amplitúda pokojového trasu – pery/sánka", Value = (motskill != null) ? motskill.Motskill_32 : 0 });
        Motskill.Add(new MDSItem() { Fieldname = "Motskill_33", Number = "3.18", Name = "Konštantnosť pokojového trasu", Value = (motskill != null) ? motskill.Motskill_33 : 0 });
        #endregion

        motskillGrid.Reload();

    }

    //Alert
    private void ModifyToast()
    {
        ToastService.ShowToast(new ToastOptions
            {
                ProviderName = "Overview",
                Title = "Časť III. bola zmenená",
                ThemeMode = ToastThemeMode.Saturated,
                RenderStyle = ToastRenderStyle.Success,
            });
    }

    async Task ClearUnsavedChangesAsync()
    {
        UnsavedChanges.Clear();
        await UpdateDataAsync();
    }

    record DataChange(DataChangeType Type, HashSet<string> ChangedFields);
    enum DataChangeType { Modification }
}
