@using Microsoft.AspNetCore.Mvc.ViewFeatures
@inject IFileVersionProvider FileVersionProvider

<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href=@AppendVersion("_content/DevExpress.Blazor.Themes/purple.bs5.min.css") rel="stylesheet" />

    @DxResourceManager.RegisterScripts()
    <link href=@AppendVersion("css/site.css") rel="stylesheet" />
    <link href=@AppendVersion("Servier.Pressure.styles.css") rel="stylesheet" />
    <link rel="icon" href="~/images/cropped-Favicon_Servier-32x32.png" sizes="32x32">
    <link rel="icon" href="~/images/cropped-Favicon_Servier-192x192.png" sizes="192x192">
    <HeadOutlet />
</head>
<body>
    <Routes></Routes>
    <script src="_framework/blazor.web.js"></script>
    <script src="qrcode.min.js"></script>
</body>

</html>

@code{
    private string AppendVersion(string path) => FileVersionProvider.AddFileVersionToPath("/", path);
}