@page "/"
@using Krka.MoveOn.Services
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Krka.MoveOn.Resources;
@using System.Globalization
@inject IStringLocalizer<Index> localizer

@attribute [Authorize(Roles = "Admin")]

@attribute [StreamRendering(true)]
@rendermode InteractiveServer

@inject PatientService PatientService

<PageTitle>Welcome</PageTitle>


<div style="text-align: center; width: 40%; margin: 0 auto; margin-top: 10%; font-size: 20px;">
    <p style="text-align: justify;">Vážená pani doktorka, vážený pán doktor,</p>
    <p style="text-align: justify;">Sme radi, že ste sa rozhodli zúčastniť epidemiologickej štúdie zameranej na <b>detekciu pacientov s príznakmi Parkinsonovej choroby a jej ďalší manažment.</b></p>
    <p style="text-align: justify;">Včasná diagnostika a nasadenie kompenzačnej liečby Parkinsonovej choroby môžu výrazne zlepšiť kvalitu života pacienta. V tejto štúdii chceme dokázať, že včasná diagnostika ruka v ruke s včasným nastavením kompenzívnej liečby Parkinsonovej choroby by mohla výrazne zlepšiť kvalitu života pacienta.</p>
    <p style="text-align: justify;">Než začnete so zaradením pacientov, poprosíme Vás o vyplnenie informácií ku každému pacientovi, aké dokumenty máte podpísané s pacientom pred vstupom do štúdie.</p>
    <p style="text-align: justify;">Zároveň by sme Vás chceli informovať, že do projektu môžete zaradiť <b>max. 20 pacientov.</b> Projekt bude trvať do apríla 2026.</p>
    <p style="text-align: justify;">V prípade ďalších otázok neváhajte kontaktovať autorizovanú osobu spoločnosti Krka Slovensko pre túto štúdiu, so žiadosťou o ďalšiu pomoc.</p>
    <p style="text-align: justify;">S pozdravom</p>
    <p style="text-align: justify;">Tím spoločnosti KRKA</p>
</div>



