@page "/"
@using Krka.MoveOn.Services.Pages
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Krka.MoveOn.Resources;
@using System.Globalization
@inject IStringLocalizer<Index> localizer

@attribute [Authorize]

@attribute [StreamRendering(true)]
@rendermode InteractiveServer

@inject PatientService PatientService

<PageTitle>Krka MoveOn</PageTitle>


<div style="display: flex; justify-content: center; align-items: center; height: 100vh; font-size: 20px;">
    <div style="width: 40%; text-align: justify;">
        <p>Vážená pani doktorka, vážený pán doktor,</p>
        <p>Sme radi, že ste sa rozhodli zúčastniť epidemiologickej štúdie zameranej na <b>detekciu pacientov s príznakmi Parkinsonovej choroby a jej ďalší manažment.</b></p>
        <p>Včasná diagnostika a nasadenie kompenzačnej liečby Parkinsonovej choroby môžu výrazne zlepšiť kvalitu života pacienta. V tejto štúdii chceme dokázať, že včasná diagnostika ruka v ruke s včasným nastavením kompenzívnej liečby Parkinsonovej choroby by mohla výrazne zlepšiť kvalitu života pacienta.</p>
        <p>Než začnete so zaradením pacientov, poprosíme Vás o vyplnenie informácií ku každému pacientovi, aké dokumenty máte podpísané s pacientom pred vstupom do štúdie.</p>
        <p>Zároveň by sme Vás chceli informovať, že do projektu môžete zaradiť <b>max. 20 pacientov.</b> Projekt bude trvať do apríla 2026.</p>
        <p>V prípade ďalších otázok neváhajte kontaktovať autorizovanú osobu spoločnosti Krka Slovensko pre túto štúdiu, so žiadosťou o ďalšiu pomoc.</p>
        <p>S pozdravom</p>
        <p>Tím spoločnosti KRKA</p>
    </div>
</div>




