@page "/"
@using Krka.MoveOn.Services
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Krka.MoveOn.Resources;
@using System.Globalization
@inject IStringLocalizer<Index> localizer

@attribute [Authorize(Roles = "Admin")]

@attribute [StreamRendering(true)]
@rendermode InteractiveServer

@inject PatientService PatientService

<PageTitle>Welcome</PageTitle>

<h1>Index necháme zatial prazdny</h1>




