@page "/treatment"

@using Krka.MoveOn.Data
@using Krka.MoveOn.Data.Dials
@using Krka.MoveOn.Data.Questionnaires
@using Krka.MoveOn.Services.Questionnaires
@using Microsoft.EntityFrameworkCore

@inject Treatment03Service DataService


@if (Treat == null)
{    
    <p><em>Loading...</em></p> 
} else 
{
    <DxGrid Data="@Treat" CssClass="mw-1100" PopupEditFormCssClass="pw-800" EditMode="GridEditMode.PopupEditForm">
    <Columns>
        <DxGridCommandColumn />
        <DxGridDataColumn Caption="Liek" FieldName="Treat_1" />
        <DxGridDataColumn Caption="Dávka (mg)" FieldName="Treat_2" />
        <DxGridDataColumn Caption="Indikácia " FieldName="Treat_3" />
    </Columns>
        <EditFormTemplate Context="EditFormContext">
            @{
                var QTreatment03 = (QuestionnaireTreatment03)EditFormContext.EditModel;
            }
            <DxFormLayout CssClass="w-100">
                <DxFormLayoutItem Caption="Liek:" ColSpanMd="6">
                    @EditFormContext.GetEditor("Treat_1")
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Liek:" ColSpanMd="6">
                    @EditFormContext.GetEditor("Treat_2")
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Liek:" ColSpanMd="6">
                    @EditFormContext.GetEditor("Treat_3")
                </DxFormLayoutItem>
            </DxFormLayout>
        </EditFormTemplate>
</DxGrid>
}

@code {
    private List<QuestionnaireTreatment03> Treat = new List<QuestionnaireTreatment03>();
    private List<DialActiveIngredient> ActiveIngredients = new List<DialActiveIngredient>();
    private List<DialActiveIngredient> IndicationListTreat = new List<DialActiveIngredient>();

    protected override async Task OnInitializedAsync()
    {
        ActiveIngredients = await DataService.GetActiveIngredient();
        IndicationListTreat = await DataService.GetIndicationListTreat();

        Treat = new List<QuestionnaireTreatment03>
        {
            new QuestionnaireTreatment03
            {
                Id = 1,
                Questionnaire_id = 2,
                Treat_1 = 1,
                TreatQ1 = 2,
                Treat_2 = 50,
                Treat_3 = 1,
                CreatedAt = DateTime.Now,
                ModifiedAt = DateTime.Now
            }
        };
    }
}
