@page "/Account/Manage/SetPassword"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using Krka.MoveOn.Data

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject NavigationManager NavigationManager

<PageTitle>Set password</PageTitle>
<div class="title title-secondary">
    <div class="title-content-text-secondary">
        Pre túto stránku nemáte miestne používateľské meno/heslo. Pridajte miestny účet, aby ste sa mohli prihlásiť bez externého prihlásenia.
    </div>
</div>
<div class="block-content">
    <StatusMessage Message="@message" />
    <EditForm Model="Input" FormName="set-password" OnValidSubmit="OnValidSubmitAsync" method="post" Context="SetPassword">
        <DataAnnotationsValidator />
        <ValidationSummary class="text-danger" role="alert" />
        <DxFormLayout CaptionPosition=@CaptionPosition.Vertical>
            <DxFormLayoutItem Caption="Nové heslo" ColSpanMd="12" BeginRow="true">
                <InteractiveServerTextBox Name="Input.NewPassword" Value="@Input.NewPassword" Password="true" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Potvrdenie hesla" ColSpanMd="12" BeginRow="true">
                <InteractiveServerTextBox Name="Input.ConfirmPassword" Value="@Input.ConfirmPassword" Password="true" />
            </DxFormLayoutItem>
            <DxFormLayoutItem ColSpanMd="12" BeginRow="true">
                <DxButton CssClass="w-100" SubmitFormOnClick="true" Text="Nastaviť heslo"></DxButton>
            </DxFormLayoutItem>
        </DxFormLayout>
    </EditForm>
</div>

@code {
    private string? message;
    private ApplicationUser user = default!;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        user = await UserAccessor.GetRequiredUserAsync(HttpContext);

        var hasPassword = await UserManager.HasPasswordAsync(user);
        if (hasPassword)
        {
            NavigationManager.NavigateTo("Account/Manage/ChangePassword");
        }
    }

    private async Task OnValidSubmitAsync()
    {
        var addPasswordResult = await UserManager.AddPasswordAsync(user, Input.NewPassword!);
        if (!addPasswordResult.Succeeded)
        {
            message = $"Chyba: {string.Join(",", addPasswordResult.Errors.Select(error => error.Description))}";
            return;
        }

        message = "Vaše heslo bolo nastavené.";
    }

    private sealed class InputModel
    {
        [Required]
        [StringLength(100, ErrorMessage = "Pole {0} musí byť aspoň {2} a maximálne {1} znakov dlhé.", MinimumLength = 6)]
        [DataType(DataType.Password)]
        [Display(Name = "Nové heslo")]
        public string? NewPassword { get; set; }

        [DataType(DataType.Password)]
        [Display(Name = "Potvrdenie hesla")]
        [Compare("NewPassword", ErrorMessage = "Nové heslo a potvrdenie hesla sa nezhodujú.")]
        public string? ConfirmPassword { get; set; }
    }
}